.outputPage {
  border: 5px solid darkgreen;
  height: 100vh;
}

.outputPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerInfoSection {
  border: 1px solid darkgrey
}

.resumeContainer {
  border: 3px solid red;
}