.App {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.addBtn {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.addBtn:hover {
  background-color: #67956a;
  color: white;
}